In [9]:
import pandas as pd
import sympy as sp
import math

time series data

In [2]:



d = {'x': [0,0,0,0,0,0]
   , 't': [0,1,2,3,4,5]
   , 'r': [0,1,0,0,0,0]
   , 'f': [0,0.5,0,0,0,0]
    }

df = pd.DataFrame( d)
df

   x  t  r    f
0  0  0  0  0.0
1  0  1  1  0.5
2  0  2  0  0.0
3  0  3  0  0.0
4  0  4  0  0.0
5  0  5  0  0.0

equation (2)

r(x, t)=r-f

r(x, t) is the rainfall excess (m s-1)

r is the rainfall rate (m s-1)

f is the infiltration rate (m s-1)

In [3]:
r_x_t = df["r"]- df["f"]
r_x_t

0    0.0
1    0.5
2    0.0
3    0.0
4    0.0
5    0.0
dtype: float64

equation (1)

dh/dt +dq/dx = r(x, t)

h is the flow depth at time t and the position x

x is the space coordinate along the directionof flow

q is the volumetric water flux per unit plane width (m2 s-1)

In [5]:
#dh/dt +dq/dx =r_x_t
# x=0
dh_dt =r_x_t

print(dh_dt)

#integral_t = sp.integrate(df_dx, x)

#print("Integral with respect to x:", integral_x)

0    0.0
1    0.5
2    0.0
3    0.0
4    0.0
5    0.0
dtype: float64

equation (18)

log(ft)=−1.09+1.425∗litter+0.442∗rock+1.746∗(basal+cryptogams)+2.068∗S

In [10]:
litter=0
rock=0
basal=0
cryptogams=0
S=1

math.log(ft)== -1.09+1.425*litter+0.442*rock+1.746*(basal+cryptogams)+2.068*S

math.log(ft)

NameError: name 'ft' is not defined