time series data

In [6]:
import pandas as pd

d = {'x': [0,0,0,0]
   , 't': [0,1,2,3]
   , 'r': [0,1,0,0]
   , 'f': [0,0,0.5,0]
    }

df = pd.DataFrame( d)
df

   x  t  r    f
0  0  0  0  0.0
1  0  1  1  0.0
2  0  2  0  0.5
3  0  3  0  0.0

equation (2)

r(x, t)=r-f

r(x, t) is the rainfall excess (m s-1)

r is the rainfall rate (m s-1)

f is the infiltration rate (m s-1)

In [8]:
r_x_t = df["r"]- df["f"]
r_x_t

0    0.0
1    1.0
2   -0.5
3    0.0
dtype: float64

equation (1)

dh/dt +dq/dx = r(x, t)

h is the flow depth at time t and the position x

x is the space coordinate along the directionof flow

q is the volumetric water flux per unit plane width (m2 s-1)

In [9]:
dh/dt +dq/dx =r_x_t

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3620274614.py, line 1)